<div class="parent-container">
	<header class="header-container">	
		<title>Achi Gameboard</title>
		<h3>Achi Gameboard</h3>
	</header>
	<div class="game-container">
		<div id="circle1" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div id="circle2" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div id="circle3" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div class="clear"></div>
		<div id="circle4" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div id="circle5" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div id="circle6" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div class="clear"></div>
		<div id="circle7" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div id="circle8" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div id="circle9" class="achi emptycircle" ng-click="circleSelect($event)"></div>
		<div class="clear"></div>	
		<span class="reset-board btn btn-danger" ng-click="resetBoard()">Reset Game</span>
	</div>
</div>